.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    padding: 10px;
    width: 80px;
    height: 80px;
}

.nav-links>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: larger;
}

.nav-links>ul>li{
    list-style-type: none;
    padding: 10px;
}
